@import "tailwindcss";

:root {
  --background: #0f1111;
  --foreground: #ffffff;
  --primary: #cae962;
  --secondary: #4a4a4a;
  --accent: #5d5d5d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.anime-card-gradient {
  background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1c1e;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cae962;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b8d454;
}
